<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key ="Enviroment" value="PROD"/>
    <add key="Browser" value="FireFox"/>

    <add key="ProductSKU.PROD" value="https://www.gladiatorgarageworks.com/collections/deals"/>
    <add key="ProductCASKU.PROD" value="https://www.gladiatorgarageworks.ca/"/>
  </appSettings>

</configuration>
